API_KEY= INSERT API KEY

DB_NAME= 
ATLAS_URL= mongodb+srv://<username>:<password>@cluster0.0l3fo.mongodb.net/?retryWrites=true&w=majority
DB_USERNAME=
DB_PASSWORD=

AWS_BUCKET_NAME=
AWS_BUCKET_REGION= 
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

GOOGLE_MAPS_API_KEY=